@model netdemo.Models.Cliente
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Home Page";
    IEnumerable<netdemo.Models.Curso> listCursos = new List<Curso>();
    listCursos = @Model.Cursos;
}

<div class="text-center">
    <h1 class="display-4">Welcome Alumnos de Progra I hot reload</h1>
    <div>
        <form asp-action="Registrar" asp-controller="Home" method="post">  
            <input type="text"  name="nombre" placeholder="Enter your name" />
            <button type="submit">Submit</button>
        </form>
        <form asp-action="RegistrarCliente" asp-controller="Home" method="post">
            <input type="text" name="Nombre" placeholder="Enter your name"/>
            <span asp-validation-for="Nombre" class="text-danger"></span>
            <input type="text" name="Apellido" placeholder="Enter your last name"/>
            <span asp-validation-for="Apellido" class="text-danger"></span>
            <input type="email" name="Email" placeholder="Enter your email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
            <button type="submit">Submit</button>
        </form>
        @foreach(Curso cur in listCursos){
            <div>
                <h3>@cur.Nombre</h3>
                <p>@cur.Descripcion</p>
            </div>
        }
        
    </div>
    <p>@ViewData["mensaje1"]</p>
    <p>@ViewData["mensaje2"]</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
